*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
pip-selfcheck.json
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/cipher
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
include/
lib/
local/
share/
packages/
src-mrd/

# Sublime
*.sublime-*
