[buildout]
extends = ztk-versions-1.0.1.cfg
develop = .
parts = test coverage coverage-test coverage2-test coverage-report python tags
versions = versions
newest = false
include-site-packages = false
unzip = true

[python]
recipe = z3c.recipe.scripts
eggs = cipher.encryptingstorage [test]
interpreter = python

[tags]
recipe = z3c.recipe.tag
eggs = ${python:eggs}

[test]
recipe = zc.recipe.testrunner
eggs = ${python:eggs}
defaults = ['--tests-pattern', '^f?tests$$', '-v']

[coverage]
recipe = z3c.recipe.scripts
eggs = coverage

[coverage-test]
recipe = zc.recipe.testrunner
eggs = ${python:eggs}
       coverage
defaults = ['--tests-pattern', '^f?tests$$', '-v']
initialization =
  # haaaaack because zc.testrunner 1.4.0 produces an _insane_ bin/test
  # that cannot be run with bin/coverage run bin/test, or even
  # bin/python bin/test
  import coverage, atexit
  c = coverage.coverage(data_file='${buildout:directory}/.coverage',
                        source=['cipher.encryptingstorage'])
  def _when_done(c=c): c.stop(), c.save()
  atexit.register(_when_done)
  c.start()

[coverage2-test]
recipe = zc.recipe.testrunner
eggs = ${python:eggs}
defaults = ['--coverage', '${buildout:directory}/coverage']

[coverage-report]
recipe = z3c.recipe.scripts
eggs = z3c.coverage
scripts = coveragereport=coverage-report
arguments =
  ('${buildout:directory}/coverage',
   '${buildout:directory}/coverage/report')

[versions]
# we're getting buildout 1.5.0 anyway from our bootstrap
zc.buildout = 1.5.0

# required by zc.buildout 1.5.0
zc.recipe.egg = 1.3.0

# required by zc.buildout 1.5.0 for include-site-packages=false to work
zc.recipe.testrunner = 1.4.0

ZODB3 = 3.10.5
mechanize = 0.2.5